@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: lightgrey;
}

h1 {
    font-weight: 900;
    font-size: 2.5em;
    text-transform: uppercase;
}

p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1em;
}


label {
    font-size: .7em;
    text-transform: uppercase;
    display: block;
    padding-left: 5px;
}

input {
    margin-bottom: 20px;
    background-color: rgb(20, 20, 20);
    border-color: rgb(60, 60, 60);
    height: 35px;
    width: 200px;
    border: 1px solid rgb(60, 60, 60);
}

input:hover {
    border: 1px solid coral;
    background-color: rgb(107, 54, 35);
}

button {
    padding: 15px 45px 15px 45px;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid grey;
    font-size: 1em;
}

button:hover {
    border: 1px solid coral;
    background-color: rgb(107, 54, 35);
    color: rgb(255, 164, 131);
}

.container {
    display: flex;
    height: 100vh;
}

.leftcolumn {
    flex: 1;
    background: url('leftcolumnbg.jpg');
    background-size: cover;
}

.rightcolumn {
    flex: 2;
    background-color: rgb(20, 20, 20);
}

.logobar {
    height: 33.3%;
    background: no-repeat center url('logo.png') rgb(0, 0, 0, .7);
    background-size: 10vh;
    top: 33.3%;
    position: relative;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 33.3%;
    padding: 60px;
}

.signupform {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: rgb(30, 30, 30);
    height: 33.3%;
    padding: 60px;
}

.footer {
    flex: 1;
    height: 33.3%;
    padding: 60px;
}


.formfield {
    float: left;
    margin-right: 30px;
}